@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-family: system-ui;
}
.name{
  font-size:50px;  
  /* padding-bottom: 50px; */
  /* margin-bottom: 5px; */
}
.nav-bar {
  background-color: #1CD6CE;
  color: blck ;
  display: flex;
  position: relative;
  width: 100%;
}
.logo img {
  height:  5 rem ;
  padding: 5px;
  margin: 0px 0px;
  cursor: pointer;
 
 
}
.logo img:hover{
  box-shadow: 1px 1px rgb(248, 245, 69);
}
.nav {
  list-style: none;
  margin: 11px;
  font-size: 2.0rem;
 font-family: Georgia, 'Signika Negative', Times, serif;
  color: rgb(248, 245, 69);
  font-weight:600;
  cursor: pointer;
}


.code-editior {
  display: flex;
  justify-content: center;
  background-color: #353332;
}
.code {
  cursor: pointer;
  padding: 15px 25px;
  color: rgb(248, 245, 69);
}
 #Html{
  color: rgb(246, 127, 15);
}
 #Css{
  color: rgb(7, 206, 246);
}
 #Js{
  color: rgb(254, 237, 6);
}

textarea {
  resize: none;
  margin-top: 0.5rem;
  height: 190px;
  padding: 1rem;
  width: 29vw;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #4e4b4b;
}
.result {
  background-color: #353332;
  color: rgb(248, 245, 69);
}
.result iframe {
  width: 97%;
  height: 17.5rem;
  margin: 0px 15px;
  padding: 4px;
  margin-bottom: 20px;
  background-color: #FFD6EC;
}
.result h3 {
  display: inline-block;
  cursor: pointer;
  padding-left: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 33px;

  background-color: rgb(43, 38, 38);
  color:rgb(248, 245, 69);
  font-size: 20px;
  font-weight: lighter;
  font-family: "Cabin", sans-serif;
}
.middle {
  display: block;
  background-color: #654f56;
}
@media (max-width: 801px) {
  .code-editior {
    flex-direction: row ;
    justify-content: left ;
    background-position: 100%;
  }
  textarea {
    height: 100px;
    width: 280px;
    margin: 10px auto;
    
  }
  .result iframe {
    width: auto;
  }

  .footer {
    height: 66px;
  }
}
